@model Store.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Оплата покупок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оплата товара</h2>
Введите Ваши данные для отправки покупок
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary()
    <h3>Получатель</h3>
    <div>Имя: @Html.EditorFor(x=>x.Name)</div>
    <h3>Адрес доставки</h3>
    <div>Строка 1: @Html.EditorFor(x=>x.Line1)</div>
    <div>Строка 2: @Html.EditorFor(x=>x.Line2)</div>
    <div>Строка 3: @Html.EditorFor(x=>x.Line3)</div>
    <div>Город: @Html.EditorFor(x=>x.City)</div>
    <div>Область(штат): @Html.EditorFor(x=>x.State)</div>
    <div>Почтовый индекс: @Html.EditorFor(x=>x.Zip)</div>
    <div>Страна: @Html.EditorFor(x=>x.Country)</div>
    <h3>Дополнительная информация</h3>
    <label>
        @Html.EditorFor(x=>x.GiftWrap)
        Завернуть в подарочную упаковку
    </label>
    <p align="center">
        <input class="actionButtons" type="submit" value="Оформить заказ" />
    </p>
}